<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<style>
h4{
    margin-left: 6%;
}

.seat-main {
	/* border: 2px solid black; */
	padding: 40px 3px 40px 20px;
	margin-top: -35px;
}

a {
	padding: 10px 25px;
	margin: 5px;
}

.col-8 .date_form {
	margin-top: 20px;
}

.seat-main .date_form form input[type="date"]::-webkit-clear-button {
    display: none;
    -webkit-appearance: none;
}


.seat-section .seat-row .col-5 {
	/* border: 2px solid black; */
	margin: 5px;
	padding: 10px 10px;
}

.seat-section .seat-row .col-5:nth-child(1) {
	margin-left: 35px
}

.seat-section .seat-row {
	margin-top: 30px;
	/* border: 2px solid black; */
}

.btn1 {
	margin-left: 45px;
	/* margin-top: -210px; */
}

.seat-section .symbol .one {
	font-size: 25px;
	color: red;
}

.seat-section .symbol {
	margin-top: 45px;
    margin-bottom: 15px;
    float: right;
    margin-right: -20%;
}

.seat-section .symbol .two {
	font-size: 25px;
	margin-left: 10px;
	color: green;
}

.seat-section .symbol .three {
	font-size: 25px;
	margin-left: 10px;
	color: #f6c23e;
}

.symbol {
  display: flex;
  flex-direction: column;
}

.symbol i, .symbol span {
  margin: -1px 0;
}

</style>
<head th:replace="fragments :: header"></head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="fragments :: sidebar">
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments :: topbar"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
            	<h4>Xem vị trí</h4>
            	<div class="col-9 seat-main">
            	
            		<form action="book-seat" method="post">
					<div class="container seat-section">
					<div class="symbol">
						<i class="fas fa-square one"></i>&nbsp;<span>Already Booked</span>&nbsp;&nbsp;&nbsp;&nbsp;
						<i class="fas fa-square two"></i>&nbsp;<span>Position Available</span>&nbsp;&nbsp;&nbsp;&nbsp;
						<i class="fas fa-square three"></i>&nbsp;<span>Confirmation</span>
					</div>
						<div class="row seat-row">
						   <div class="col-5 first">
							<h6>Khu vực 1</h6>
							 <a class="btn btn-success">01</a>&nbsp;&nbsp;
		
							<a class="btn btn-success" >02</a>&nbsp;&nbsp;
		
							<a class="btn btn-success" >03</a>&nbsp;&nbsp;
		
							<a class="btn btn-success" >04</a>&nbsp;&nbsp;
		
							<a class="btn btn-success" >05</a><br>
								
								
							<a class="btn btn-success" >06</a>&nbsp;&nbsp;
		
							<a class="btn btn-success" >07</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">08</a>&nbsp;&nbsp;
		
							<a class="btn btn-success" >09</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">10</a>
								
								
							<a class="btn btn-success">11</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">12</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">13</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">14</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">15</a><br>
								
								
							<a class="btn btn-success">16</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">17</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">18</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">19</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">20</a>
							
							<a class="btn btn-success">01</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">02</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">03</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">04</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">05</a><br>
								
								
							<a class="btn btn-success" >06</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">07</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">08</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">09</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">10</a>
						  
						   </div>
						    <div class="col-5 second">
						    	<h6>Khu vực 2</h6>
						      <a class="btn btn-success">21</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">22</a>&nbsp;&nbsp;
		
							<a class="btn btn-success" >23</a>&nbsp;&nbsp;
		
							<a class="btn btn-success" >24</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">25</a><br>
								
								
							<a class="btn btn-success">26</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">27</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">28</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">29</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">30</a>
								
								
							<a class="btn btn-success">31</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">32</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">33</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">34</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">35</a><br>
								
								
							<a class="btn btn-success" >36</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">37</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">38</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">39</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">40</a>
							<a class="btn btn-success">01</a>&nbsp;&nbsp;
		
							<a class="btn btn-success" >02</a>&nbsp;&nbsp;
		
							<a class="btn btn-success" >03</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">04</a>&nbsp;&nbsp;
		
							<a class="btn btn-success">05</a><br>
								
								
							<a class="btn btn-success" >06</a>&nbsp;&nbsp;
		
							<a class="btn btn-success" >07</a>&nbsp;&nbsp;
		
							<a class="btn btn-success" >08</a>&nbsp;&nbsp;
		
							<a class="btn btn-success" >09</a>&nbsp;&nbsp;
		
							<a class="btn btn-success" >10</a>
									      
						    </div>
						</div>
					</div>
				</form>
            	
            	</div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="fragments :: footer">
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="fragments :: scroll">
</a>

<!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-aledby="exampleModala"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModala">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-a="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

  <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts name all pages-->
    <script src="js/sb-admin-2.min.js"></script>


</body>

</html>